*{
    padding: 0;

    margin: 0;
}

div.jumbotron h1 {
    text-align: center;
    background-color: black;
    color: white;
    height: 150px;
    padding-top: 40px;
}

/* 
h1 span{
  display: none; 
} */


div nav {
  background-color: grey;
}

.nav-item a{
  color: white;
}

.nav-item a:hover {
  color: lightskyblue
}





#box1 {
    background-color: lightgray;
    width: 100%;
    height: auto;
    padding: 0px;
}

#box1 img {
  width: 100%;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

.box img{
  width: 300px;
  height: 300px;
}
  
.box__uno {
    width: 400px;
    height: 400px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-radius: 5px;
    margin: 10px;
    padding-top: 40px;
    overflow: hidden;
  }
.box__uno:hover {
  border-color: grey;
}


.box__dos {
    width: 400px;
    height: 400px;
    border-radius: 5px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin: 10px;
    padding-top: 40px;
    overflow: hidden;
  }

.box__dos:hover {
  border-color:grey;
  
}



.box__tres {
    width: 400px;
    height: 400px;
    border-radius: 5px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin: 10px;
    padding-top: 40px;
    overflow: hidden;
  }

.box__tres:hover{
  border-color:grey;
  
}

#pie {
    background-color: lightgray;
    height: 200px;
    text-align: center;   
    padding-top: 50px;
}

#pie ul{
list-style: none;
}

#pie li a{
  text-transform: none;
  text-decoration: none;
}

.tamaño img {
  height: 250px;
  width: 400px;
}

